@model ExtraClasesApp.Models.ClaseExtra
@{
    ViewData["Title"] = "Detalles de Clase Extra";
}

<h1>Detalles de Clase Extra</h1>
<hr />

<dl class="row">
    <dt class="col-sm-4">Fecha y Hora Tutor</dt>
    <dd class="col-sm-8">@Model.FechaHoraTutor</dd>

    <dt class="col-sm-4">Fecha y Hora Estudiante</dt>
    <dd class="col-sm-8">@Model.FechaHoraEstudiante</dd>

    <dt class="col-sm-4">Módulo</dt>
    <dd class="col-sm-8">@Model.Modulo</dd>

    <dt class="col-sm-4">Lección</dt>
    <dd class="col-sm-8">@Model.Leccion</dd>

    <dt class="col-sm-4">Estudiante</dt>
    <dd class="col-sm-8">@Model.Estudiante?.NombreCompleto</dd>

    <dt class="col-sm-4">Tutor</dt>
    <dd class="col-sm-8">@Model.Tutor?.NombreCompleto</dd>

    <dt class="col-sm-4">¿Notificado?</dt>
    <dd class="col-sm-8">@(Model.Notificado ? "Sí" : "No")</dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Volver a la lista</a>
</div>
